
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>

<div class="woohai">
  <ul>
    <% @hebdo.each do | part | %>
      <li>
        <%= link_to "#{part.name}", "/journal/#{part.name}" %>
      </li>
    <%  end %>
  </ul>
</div>

<% if admin_signed_in? %>


  <h1>Tu es connecté</h1>
        <%= link_to "new article",  new_article_path %>

  <% end %>
