
<%= stylesheet_link_tag "gc" %>   

<div class= "navbar">
  <p>Gourmant Croquant</p>
</div>

<div class=logo_bc>
  <i class="fas fa-concierge-bell"></i>
  <i class="fas fa-frog"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-crown"></i>
</div>


<%= video_tag "ink.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" ,id: "video", poster: "ink.jpg" %>

<div class="blank">

</div>
<% 10.times do |index| %>
  <% if index.even?%>
    <div class="carrot carrot_right" data-aos= "fade-up-left" data-aos-duration="3000">
      <h1>titre ultra long du cul parcequ'on aime ça</h1>
      <p>description/1ere phrase du text coupé au bout d'un moment parcequ'on aime ça</p>
      <p>date 10/10/10</p>
    </div>
  <% else %>
    <div class="carrot carrot_left" data-aos= "fade-up-right" data-aos-duration="3000">
      <h1>titre ultra long du cul parcequ'on aime ça</h1>
      <p>description/1ere phrase du text coupé au bout d'un moment parcequ'on aime ça</p>
      <p>date 10/10/10</p>
    </div>
  <% end %>
<% end %>


<script>
  $('#video').attr('playsinline',''); 
;(function () {
  var each = Array.prototype.forEach
  var autoplayIds = []

  document.addEventListener('turbolinks:before-cache', function () {
    var autoplayElements = document.querySelectorAll('[autoplay]')
    each.call(autoplayElements, function (element) {
      if (!element.id) throw 'autoplay elements need an ID attribute'
      autoplayIds.push(element.id)
      element.removeAttribute('autoplay')
    })
  })

  document.addEventListener('turbolinks:before-render', function (event) {
    autoplayIds = autoplayIds.reduce(function (ids, id) {
      var autoplay = event.data.newBody.querySelector('#' + id)
      if (autoplay) autoplay.setAttribute('autoplay', true)
      else ids.push(id)
      return ids
    }, [])
  })
})()
</script>
