
<%= stylesheet_link_tag "gc" %>   

<div class= "navbar">
</div>

<div class=logo_bc>
  <i class="fas fa-concierge-bell"></i>
  <i class="fas fa-frog"></i>
  <i class="fas fa-apple-alt"></i>
  <i class="fas fa-crown"></i>
</div>


<%= video_tag "ink.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
