@media screen and (max-width: 820px), screen and (width: 820px), screen and (display-mode: browser) and (max-width: 820px) {
    body {
  margin: 0;
  overflow: hidden!important;
  position: fixed!important;
    }
  div.navbar {
    height: 35px!important;
  }
  .video {
    width: 200%!important;
    right: 55%;
    top: 10%!important;
    transform: rotate(90deg);
  }

  div.logo_bc {
    position: relative!important;
    top: -20px!important;
    left: 10px!important;
  }

  .fas {
    animation: none!important;
  }
  .fa-apple-alt {
    display: none!important;
  }
  .fa-frog {
    position: relative!important;
    font-size: 200%!important; 
    top: 53px!important;
    right: 5px;
  }
  .fa-concierge-bell {
    font-size: 150%!important;
    top: 55px!important;
  }
  .fa-crown {
    top: 28px!important;
    right: 40px!important;
    font-size: 100%!important; 
  }
}

body {
  margin: 0;
  overflow: hidden;
}

div.navbar {
  position: sticky;
  top: 0px;
  background-color: red;
  height: 40px;
  width: 100%;
}

.video {
  width: 100%;
  position: relative;
  z-index: -50;
  top: -60px;
}

div.logo_bc{
  width: 100px;
  height: 50px;
  display: block;
  border: black;
  border-radius: 40%;
  position: sticky;
  top: 0;
  left: 20px;

}

i.fa-concierge-bell {
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  animation-name: slideout;
}

@keyframes slideout{
  0% {
    left: 56px;
    top: 56px;
    transform: rotate(0deg);
  }
  25% {
    left: 96px;
    top: 10px;
    transform: rotate(45deg);
  }
  100% {
    left: 96px;
    top: 10px;
    transform: rotate(45deg); 
  }
}

i.fa-apple-alt {
  color: #ff1a1a;
  transform: rotate(20deg);
  position: relative;
  right: -6px;
  z-index: -2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-name: lemon_appear;
}

@keyframes lemon_appear {
  0% {
    right: -6px;
    transform: rotate(0deg);
  }
  10% {
    right: -6px;
    top: 0px;
    transform: rotate(0deg);
  }
  20% {
    top: -19px;
  }
  35% {
    right: 25px;
    top: -19px;
  }
  50% {
    transform: rotate(560deg);
    right: 35px;
    opacity: 0.8;
    top: -19px;
    font-size: 85%;
  }
  75% {
    transform: rotate(560deg);
    right: 35px;
    opacity: 0;
    top: -19px;
    font-size: 85%;
  }
  100% {
    transform: rotate(560deg);
    right: 35px; 
    top: -19px;
    font-size: 85%;
    opacity: 0;
  }
}

i.fa-concierge-bell {
  color: rgb(218,165,32);
  font-size: 250%;
  position: relative;
  top: 56px;
  left: 56px;
}


i.fa-frog {
  color: rgb(127,255,0);
  font-size: 350%;
}

i.fa-crown {
  position: relative;
  color: rgb(218,165,32);
  bottom: 65px;
  right: -22px;
  transform: rotate(325deg);
}
