/*
*= require "gc_text"
*= require aos
*/

body {
  margin: 0;
  overflow: hidden scroll;
}

div.navbar {
  position: sticky;
  top: 0px;
  background-color: red;
  height: 40px;
  width: 100%;
  z-index: 20;
}

.video {
  width: 100%;
  position: fixed;
  z-index: -50;
  top: -60px;
}

div.logo_bc{
  width: 100px;
  height: 50px;
  display: block;
  border: black;
  border-radius: 40%;
  top: 40px;
  left: 40px;
  position: fixed!important;
}

i.fa-concierge-bell {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate; 
  animation-name: slideout;
}

@keyframes slideout{
  0% {
    left: 56px;
    top: 56px;
    transform: rotate(0deg);
  }
  50% {
    left: 96px;
    top: 10px;
    transform: rotate(45deg);
  }
  100% {
    left: 96px;
    top: 10px;
    transform: rotate(45deg); 
  }
}

i.fa-apple-alt {
  color: #ff1a1a;
  transform: rotate(20deg);
  position: relative;
  right: -6px;
  z-index: -2;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-name: lemon_appear;
}

@keyframes lemon_appear {
  0% {
    right: -6px;
    transform: rotate(0deg);
  }
  20% {
    right: -6px;
    top: 0px;
    transform: rotate(0deg);
  }
  30% {
    top: -19px;
  }
  45% {
    right: 25px;
    top: -19px;
  }
  60% {
    transform: rotate(560deg);
    right: 35px;
    opacity: 0.8;
    top: -19px;
    font-size: 85%;
  }
  75% {
    transform: rotate(560deg);
    right: 35px;
    opacity: 0;
    top: -19px;
    font-size: 85%;
  }
  100% {
    transform: rotate(560deg);
    right: 35px; 
    top: -19px;
    font-size: 85%;
    opacity: 0;
  }
}

i.fa-concierge-bell {
  color: rgb(218,165,32);
  font-size: 250%;
  position: relative;
  top: 56px;
  left: 56px;
}


i.fa-frog {
  color: rgb(127,255,0);
  font-size: 350%;
}

i.fa-crown {
  position: relative;
  color: rgb(218,165,32);
  bottom: 65px;
  right: -22px;
  transform: rotate(325deg);
}
