

div.logo_bc{
  width: 100px;
  height: 50px;
  display: block;
  border: black;
  border-radius: 40%;
}

i.fa-concierge-bell {
  animation-duration: 1.5s;
   animation-iteration-count: infinite;
  animation-direction: alternate; 
  animation-name: slideout;
}

@keyframes slideout{
  from {
    left: 56px;
    top: 56px;
    transform: rotate(0deg);
  }
  to {
    left: 96px;
    top: 10px;
    transform: rotate(45deg);
  } 
}

i.fa-concierge-bell {
  color: rgb(218,165,32);
  font-size: 250%;
  position: relative;
  top: 56px;
  left: 56px;
}


i.fa-frog {
  color: rgb(127,255,0);
  font-size: 350%;
}

i.fa-crown {

  position: relative;
  color: rgb(218,165,32);
  bottom: 43px;
  right: 45px;
  transform: rotate(325deg);
}
